<div class="psg-wrapper styleguide">
    <style><%- codeStyle %><%- tmplStyle %><%- processedCSS %></style>
    <style>
      nav  * {
        color: black !important;
      }
    </style>
  <nav class="psg-menu">
    <ul class="psg-ComponentList">
      <% if (Array.isArray(colorPalette) && colorPalette.length !== 0) { %>
        <a href="" ui-sref="home.styleguide({'#':'color-palette'})"class="psg-ComponentList__item">
          <li>Color Palette</li>
        </a>
      <% } %>
      <% maps.forEach(function (map) { %>
        <% if (map.link.title !== null) { %>
          <a href="" ui-sref="home.styleguide({'#':'<%= map.link.id %>'})" class="psg-ComponentList__item">
            <li>
              <%= map.link.title %>
            </li>
          </a>
        <% } %>
      <% }) %>
    </ul>

  </nav>

  <div class="psg-main">
    <header class="psg-title">
      <h1><%= projectName %></h1>
    </header>

    <div class="psg-container">
      <% if (Array.isArray(colorPalette) && colorPalette.length !== 0) { %>
      <section class="psg-section">
          <h2 id="color-palette" class="psg-component-title">Color Palette</h2>
          <div class="psg-contents">
            <div class="psg-colorPalette">
              <% colorPalette.forEach(function (palette) { %>
              <div class="psg-colorBox">
                  <div class="psg-colorBox__sample" style="background-color: <%= palette.color %>">
                  </div>
                  <div class="psg-colorBox__name">
                      <%= palette.name %>
                  </div>
              </div>
              <% }) %>
            </div>
          </div>
      </section>
      <hr class="psg-separator">
      <% } %>
      <% maps.forEach(function (map) { %>
          <section class="psg-section">
              <h2 id="<%= map.link.id %>" class="psg-component-title"><%= map.link.title %></h2>

              <div class="psg-contents">
              <% if (!showCode) { %>
                  <%- map.html %>
              <% } %>
              </div>
          </section>
          <hr class="psg-separator">
      <% }) %>
    </div>
  </div>

</div>
